/*this size for large device*/
@media only screen and (max-width: 1024px) {
  /*  work section start here */
  .work-section .cards .card h4 {
    font-size: 1rem;
  }
  /*  work section end here */

  /* contact us page section start here */
  .form-area form div input,
  textarea {
    width: 15rem;
  }
  .form-area form .contact-form-btn {
    font-size: 0.8rem;
  }
  /* contact us page section end here */
}

/* this size for medium device */
@media only screen and (max-width: 768px) {
  /* about us section start here */
  .about-section h1 {
    font-size: 3rem;
  }
  .about-section p {
    font-size: 1.1rem;
  }
  .about-section button {
    font-size: 14px;
  }
  /* about us section end here */
  /* achieve section start here */
  .content-area h2 {
    font-size: 1.2rem;
  }
  .content-area p {
    font-size: 0.9rem;
  }
  .content-area button {
    padding: 8px 32px;
  }
  /* achieve section end here */
  /* contact us page section start here */
  .form-area form div input,
textarea{
    width: 12rem
}
.form-area form .contact-form-btn{
    font-size: 0.7rem;
}
    /* contact us page section end here */

    /* work section start here */
.work-section{
    padding: 3rem 4rem;
   
}
.work-section h2{
    font-size: 2rem;
}
.work-section .cards{
    flex-direction: column;

   
}
.work-section .cards .card{
    text-align: left;
    margin: 1.6rem 0px;
}
.work-section .cards .middle-card{
    text-align: right;
}
/* work section end here */

}




@media only screen and (max-width: 640px){
/* navbar section start here */
nav ul li a{
    font-size: 0.9rem;
}
/* navbar section end here */
/* about section start here */
.about-section{
    height: 35vh;
 }
 .about-section h1{
    font-size: 2rem;
 }
 .about-section p{
    font-size: 0.8rem;
 }
 .about-section button{
    font-size: 12px;
 }
/* about section end here */

/* achieve section start here */
.achieve-section .main-heading{
    text-align: left;
    font-size: 2rem;
}
.card-box .card{
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    border-bottom: 2px solid gray;
    margin: 2rem 0px;
}
.card .content-area{
    width: 100%;
}
.card .img-area{
    width: 100%;
}
.card .img-area img{
    width: 90%;
}
.middle-card .content-area{
   margin-bottom: 2rem;
}
/* achieve section end here */

/* customer section start here */
.customer-section .upper-area h1{
    font-size: 1.2rem;
}
.customer-section .icons .left-icon , .customer-section .icons .right-icon{
    padding: 3px 9px;
}
.customer-section .cards-area{
    flex-direction: column;
}
/* customer section end here */
/* work section start here */
.work-section{
    padding: 3rem 2rem;
}
.work-section h2{
    font-size: 1.2rem;
}
.work-section .cards{
    flex-direction: column;
   
}
/* work section end here */

/* contact section start here */
.contact-section{
    margin: 1rem auto;
}
.contact-section .main-heading{
    font-size: 2rem;

}
.contact-section p{
    font-size: 16px;
   
}
.form-area{
    flex-direction: column;
    width: 90%;
    
}
.form-area form{
   padding: 3rem 1.2rem;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 6px;
}
.form-area form div input,
textarea{
    width: 100%;
}
.form-area .map img{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    margin-bottom: 2rem;
}
.form-area form .contact-form-btn{
    font-size: 1.2rem;
}
/* contact section end here */
}