* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1280px; /*this size is for extra large screen device*/
  background: #ffffe9;
  margin: 0 auto;
  border: 2px solid #f3f25b;
}

/* navbar section start here */
nav {
  width: 100%;
  height: 6vh;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul li {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
nav ul li:nth-child(2) {
  font-weight: 800;
}
/* navbar section end here */

/* main section start here */
main {
  width: 100%;
  margin-bottom: 2rem;
}
/* about us section start here */
.about-section {
  max-width: 100%;
  height: 52vh;
  background-image: url(./images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: #fff;
}
.about-section h1 {
  text-transform: capitalize;
  font-family: "Source Serif 4", serif;
  font-size: 5rem;
  font-weight: 700;
}
.about-section p {
  width: 50%;
  text-align: center;
  font-family: Lato;
  font-size: 22px;
  font-weight: 500;
}
.about-section button {
  padding: 6px 14px;
  border: none;
  border-radius: 10px;
  background: #f3f25b;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0.4rem;
}
/* about us section end here */

/* achieve section start here */
.achieve-section {
  width: 80%;
  margin: 4rem auto;
}
.achieve-section .main-heading {
  text-align: center;
  font-family: "Source Serif Pro";
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.card-box {
  width: 100%;
}
.card-box .card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card .content-area {
  width: 50%;
}
.content-area h2 {
  font-family: "Source Serif 4", serif;
  font-size: 28px;
  font-weight: 600;
}
.content-area p {
  color: #848383;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 4px 0px;
}
.content-area button {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 42px;
  border-radius: 8px;
  background: #f3f25b;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
  border: none;
  margin: 4px 0px;
}
.card .img-area {
  width: 50%;
  text-align: right;
}
.card .img-area img {
  width: 80%;
}
.middle-card .img-area {
  text-align: left;
}
.middle-card .content-area {
  text-align: right;
}
/* achieve section end here */

/* customer section start here */
.customer-section {
  width: 80%;
  margin: 4rem auto;
}
.customer-section .upper-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0px;
}
.customer-section .icons {
  display: flex;
  gap: 8px;
}
.customer-section .icons .left-icon {
  background-color: rgb(128, 128, 128, 0.6);
  padding: 7px 13px;
  border-radius: 50%;
}
.customer-section .icons .right-icon {
  background-color: #fa8b02;
  padding: 7px 13px;
  border-radius: 50%;
}
.customer-section .icons img {
  width: 8px;
}
.customer-section h1 {
  font-family: "Source Serif 4", serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}

.customer-section .cards-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 1.4rem;
}
.customer-section .cards-area .card {
  background: #fafadf;
  margin: 0.8rem 0px;
  padding: 1.8rem;
  color: #333;
  font-family: "Source Serif 4", serif;
}
.customer-section .cards-area .card h4 {
  margin: 6px 0px 12px 0px;
  font-weight: bold;
}
.customer-section .cards-area .card p {
  font-size: 16px;
  text-align: center;
}

/* customer section end here */

/* work section start here */
.work-section {
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 3rem 6.4rem;
  padding-bottom: 8rem;
  background: #fafadf;
}
.work-section h2 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Source Serif 4", serif;
  font-size: 2rem;
  font-weight: 700;
  
}
.work-section .first-horizontal-line {
  width: 26%;
  margin: 4px auto;
  border: 1.5px solid #f3f25b;
}
.work-section .cards {
  display: flex;
  margin: 1.6rem 0px;
  gap: 2.2rem;
}
.work-section .cards .card {
  text-align: center;
}
.work-section .cards .card img {
  width: 25%;
  margin: 8px 0px;
}
.work-section .cards .card h4 {
  text-transform: capitalize;
  font-size: 1.2rem;
 
  font-weight: 600;
  font-family: "Source Serif 4", serif;
  margin-bottom: 0.4rem;
}
.work-section .cards .card p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
/* work section end here */
.last-horizontal-line {
  width: 100%;
  position: relative;
}
.last-horizontal-line hr {
  width: 100%;
  border: 2px solid #f3f25b;
  position: absolute;
  top: -3rem;
}
/* main section end here */

/* another page design start here */
.contact-section {
  width: 100%;
  height: 80vh;
  margin: 2rem auto;
  position: relative;
}
.contact-section .main-heading {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  font-family: "Source Serif 4", serif;
  text-transform: capitalize;
}
.contact-section p {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.form-area {
  width: 60%;
  height: 70%;
  margin: 2rem auto;
  display: flex;
  
}
.form-area form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 2rem;
  background-color: #201f1f;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}
.form-area form h1 {
  font-family: "Source Serif 4", serif;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 400;
  color: white;
}
.form-area form div {
  display: flex;
  flex-direction: column;
}
.form-area form div label {
  text-transform: capitalize;
  color: gray;
  font-size: 14px;
  font-family: "Source Serif 4", serif;
}
.form-area form div input,
textarea {
  width: 18rem;
  background-color: #343333;
  outline: none;
  padding: 0.8rem 0px 0.8rem 0.6rem;
  border: none;
  margin: 4px 0px;
  color: gray;
}
.form-area form div input::placeholder {
  text-transform: capitalize;
}
.form-area form .contact-form-btn {
  width: 70%;
  padding: 6px 16px;
  margin-top: 8px;
  font-size: 1rem;
  border: none;
  background: #f3f25b;
  font-family: "Source Serif 4", serif;
}

.form-area .map {
  width: 100%;
  height: 100%;
}
.form-area .map img {
  width: 100%;
  height: 100%;
  background-image: url(./images/map.png);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* another page design end here */
